@{
    ViewData["Title"] = "Company Details Page";
}
<div class="card-box p-0">
	<div class="profile-widget text-center">
		<div class="bg-custom bg-profile"></div>
		<img src="assets/images/users/avatar-3.jpg" class="thumb-lg img-circle img-thumbnail" alt="company logo">
		<h4>Company Name</h4>
        <p class="text-muted"><i class="fa fa-link m-r-10"></i>www.companylink.com</p>
        <span href="#" class="btn btn-sm btn-purple m-t-20"><i class="fa fa-skype m-r-10"></i>Skype Name</span>
        <span href="#" class="btn btn-sm btn-pink m-t-20"><i class="fa fa-phone m-r-10"></i>Company Mobile No</span>
        <p class="m-t-10 text-muted p-20"><i class="fa fa-map-marker m-r-10"></i> Comany Address </p>
		<ul class="list-inline widget-list clearfix">
			<li class="col-md-4"><span>Manager Name</span>Manager1</li>
			<li class="col-md-4"><span>Manager Name</span>Manager2</li>
            <li class="col-md-4"><span>Manager Name</span>Manager3</li>
		</ul>
	</div>
</div>